<div class="nes-container  is-rounded is-dark row">

	<span class="col-md-9"></span>

	<section class="message-right row">
		<!-- Balloon -->
		<div class="nes-balloon from-right">
			<p style="color: black;">Bulba Bulbasaur</p>
		</div>

		<!-- Copyright Nintendo -->
		<i class="nes-bulbasaur"></i>
	</section>

</div>
<div class="mt-2 col">

	<div class="nes-container is-rounded is-centered">
		<app-turing-machine [actions]="actions"></app-turing-machine>
	</div>

	<ribbon [actions]="actions"></ribbon>
</div>


<router-outlet></router-outlet>